@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yoná Silveira</h1>
    <p class="lead">yona.nantes@al.infnet.edu.br</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>IaaS - Infrastructure as a Service</h2>
        <p>
            Ou infraestrutura como serviço, é a categoria onde se pode alugar a infraestrutura de TI, tanto parte de hardware como software, a grande vantagem desse serviço é a escalabilidade, podendo aumentar o numero de o numero de servidores por exemplo, em caso de necessidade de maiores armazenamentos de dados. É indicado para empresas pequenas/médias, que estão crescendo tão rápido que sua infraestrutura sozinha não consegue suprir a necessidade de armazenamentos por exemplo.
            Não recomendado quando há tercerização de dados.
        </p>
    </div>
    <div class="col-md-4">
        <h2>PaaS — Platform as a Service</h2>
        <p>Plataforma como serviço, diferente do IaaS, possui um ambiente sob demanda para desenvolvimento, teste e gerenciamentos de software, se a empresa precisa de uma solução personalizada para conseguir evoluir ou otimizar seu produto, por exemplo, essa é a melhor opção, pois não é necessário se preocupar com o gerenciamento, configurações ou manutenção dos servidores, podendo trabalhar simultaneamente com o desenvolvimento. O maior problema dessa solução, é que as empresas acabam ficando "presas" a um serviço, e para migrar acaba sendo muito custoso, devido ao uso de linguagens que podem variar de fornecedor para fornecedor.</p>
    </div>
    <div class="col-md-4">
        <h2>SaaS — Software as a Service</h2>
        <p>Software como Serviço, há uma grande vantagem por sua escabilidade e praticidade, tudo fica disponivel pela internet, podendo ser cobrados por assinaturas e pelo uso de serviços, tendo a possibilidade de testar antes de efetuar qualquer pagamento. Permite usar aplicativos rapidamente com um custo inicial minimo, são executados nos servidores das empresas provedoras, que têm a responsabilidade de gerenciar o acesso e manter a estrutura de segurança de dados, conectividade e servidores necessários para o serviço. </p>
    </div>
</div>